// ======================================================
//  MAIN STYLES: all custom styles for app
// ======================================================

/* Variables */
$feed: feed;
$text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
$max: 6; // limited number items per each request

/* Global style */
body {
	padding-top: 55px;
}

/* Main content */
.wrapper {
	width: 100%;
	background: #e8e8e8 url("images/bg-top.svg") no-repeat scroll center 0/100% auto;
	padding-top: 67px;

	/* Feed section */
	&-#{$feed} {
		width: 100%;
		background: url("images/bg-bottom.svg") no-repeat scroll center bottom/100% auto;
		padding: 0 0 185px 0;

		.#{$feed} {
			text-align: center;
			// Description on top
			&_desc {
				color: $white;
				padding: 0 0 77px 0;
				text-shadow: $text-shadow;
				&__heading {
					font-size: $font-size-supper;
					font-weight: 300;
					padding-bottom: 10px;
				}
				&__info {
					font-size: $font-size-medium;
					a {
						color: $white;
					}
					span {
						animation-delay: 3s;
						&::after {
							content: ' | ';
						}
						&:first-child {
							font-weight: 500;
						}
						&:last-child {
							font-weight: 300;
							&::after {
								content: '';
							}
						}
					}
				}
			}
			// Feed list & items
			&_list {
				padding: 0 0 77px 0;
				&_wrapper {
					@for $i from 1 through $max {
						// delay to showing each item by index
						&:nth-child(2n + #{$i}) {
							animation-delay: ($i - 1)/2 * 1s;
						}
					}
				}
				&__item {
					// default style for item
					@include feed-item();
					// random special item
					&.special {
						border-top: 9px solid rgb((random(256)-1), (random(256)-1), (random(256)-1));
					}
				}
			}
			// Buttons
			.btn {
				border-radius: 0;
				text-transform: uppercase;
				font-weight: 700;
				font-size: $font-size-medium;
				padding: 18px 0;
				letter-spacing: 1px;
				width: 469px;
				max-width: 98%;
			}
		}
	}

	/* Content paragraph section */
	&-content {
		background: #fff;
		font-size: $font-size-medium-plus;
		font-weight: 300;
		padding-top: 80px;

		.content {
			&__lg {
				font-size: $font-size-large;
				line-height: 36px;
				padding-bottom: 89px;
			}
			&__md {
				> p {
					line-height: 27px;
					margin-bottom: 30px;
				}
			}
		}
	}
}

/* Header section */
nav {
	.nav {
		li {
			a {
				outline: 0;
				&::before {
					content: '#';
				}
			}
		}
	}
}